.App {
  text-align: center;
  background-color: black;
  min-height: 100%;
}

.logoImage {
  padding-top: 4vh;
  width: 10vh;
  display: block;
  margin: auto;
}

.searchBar {
  display: flex;
  justify-content: center;
  align-items: center;
}

.searchBar>label{
  color: white;
}

.searchBar>button {
  background-image: linear-gradient(45deg, rgb(153, 51, 255) 0%, rgb(255, 102, 102) 50%, rgb(153, 51, 255) 100%);
}

.input {
  width: 40%;
}

.ReactGridGallery{
  width: 90%;
  display: inline-block;
}

.deleteButton {
  margin-top: 20px;
  margin-bottom: 20px;
  float: right;
  margin-right: 5%;
}

.buttons {
  display: inline-block;
  padding-top: 40;
  padding-bottom: 40;
}

.buttons>button {
  margin: 0 15;
}